.Wrapper {
  background: #fff;
  overflow: hidden;
  margin-top: 60px;
}

.ContentWrapper {
  max-width: 1234px;
  margin: 0 auto;
  padding: 30px 10px;
  display: grid;
  gap: 60px;
}

.TextWrapper {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  gap: 15px;
}
@media (max-width: 450px) {
  .TextWrapper {
    max-width: 370px;
  }
}

.Title {
  color: black;
  margin: 0 auto;
  font-weight: 600;
  font-size: clamp(18px, 2.6vw, 35px);
}

.Description {
  color: rgba(0, 0, 0, 0.55);
  font-size: clamp(13px, 2.3vw, 35px);
  font-weight: 300;
  margin: 0 auto;
  line-height: 110%;
  text-align: center;
}

@media screen and (450px < width <= 1024px) {
  .Description {
    max-width: 80%;
  }
}

.AppsWrapperHori {
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto;
}

.AppsWrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 520px 520px;
}
@media (max-width: 1018px) {
  .AppsWrapper {
    grid-template-columns: auto;
    gap: 30px;
  }
}
