.Wrapper {
  max-width: 1018px;
  min-height: auto;
  padding: 30px 120px;
  margin-top: 30px;
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 19px;
}
@media (max-width: 1018px) {
  .Wrapper {
    display: block;
    max-width: 490px;
    min-height: auto;
    padding: 30px 10px;
  }
}

.ContentWrapper {
  display: grid;
  grid-template-columns: 254px auto;
  gap: 70px;
  align-items: center;
}
@media (max-width: 1018px) {
  .ContentWrapper {
    display: grid;
    grid-template-columns: auto;
    gap: 17px;
  }
}

.Image {
  max-width: 254px;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media (max-width: 1018px) {
  .Image {
    margin: 0 auto;
  }
}

.Image:hover {
  transform: translateY(-10px);
}

.HoriWrapper {
  display: grid;
  gap: 20px;
}

.Title {
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: clamp(15px, 1.6vw, 35px);
}

.Subtitle {
  margin: 0 auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.74);
  font-size: clamp(13px, 1.4vw, 35px);
  line-height: 140%;
}

.Button {
  width: 145px;
  height: 41px;
  padding: 7px;
  background: #ea2d49;
  border-radius: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Button:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
  background: #da2742;
}

.ButtonName {
  color: white;
  font-weight: 250;
  font-size: 20px;
}
