.Wrapper {
  max-width: 490px;
  min-height: auto;
  padding: 30px 10px;
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 19px;
}

.ContentWrapper {
  display: grid;
  gap: 20px;
}

.Image {
  max-width: 254px;
  margin: 0 auto;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Image:hover {
  transform: translateY(-10px);
}

.Title {
  font-weight: 600;
  font-size: clamp(15px, 1.6vw, 35px);
  margin: 0 auto;
}

.Subtitle {
  margin: 0 auto;
  text-align: center;
  font-size: clamp(13px, 1.4vw, 35px);
  max-width: 95%;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.74);
}

.Button {
  width: 145px;
  height: 41px;
  padding: 7px;
  background: #ea2d49;
  border-radius: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Button:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
  background: #da2742;
}

.ButtonName {
  font-size: 20px;
  color: white;
  font-weight: 250;
}
