.Wrapper {
  background: #fff;
  overflow: hidden;
}

.ContentWrapper {
  max-width: 1234px;
  margin: 0 auto;
  padding: 30px 10px;
  display: grid;
  gap: 60px;
}

.TextWrapper {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  gap: 15px;

  @media (max-width: 450px) {
    max-width: 370px;
  }
}

.Title {
  color: black;
  margin: 0 auto;
  font-weight: 600;
  font-size: 30px;

  @media (max-width: 450px) {
    font-size: calc(16.5px + (60 - 35) * ((100vw - 250px) / (1600 - 250)));
  }
}

.Description {
  color: rgba(0, 0, 0, 0.55);
  font-size: 30px;
  font-weight: 400;
  margin: 0 auto;
  line-height: 110%;
  text-align: center;

  @media (max-width: 450px) {
    font-size: calc(12.5px + (40 - 35) * ((100vw - 250px) / (1600 - 250)));
  }
}

.AppsWrapperHori {
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto;
}

.AppsWrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 520px 520px;

  @media (max-width: 1018px) {
    grid-template-columns: auto;
    gap: 30px;
  }
}
