.hidden {
  display: none !important;
}

.visible {
  display: block;
}
.Wrapper {
  background: #fff;
  overflow: hidden;
  margin-top: 60px;
}

.ContentWrapper {
  max-width: 1234px;
  margin: 0 auto;
  padding: 30px 20px;
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
}
@media (max-width: 350px) {
  .ContentWrapper {
    padding: 30px 10px;
  }
}

.TextWrapper {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  gap: 15px;
}
@media (max-width: 450px) {
  .TextWrapper {
    max-width: 370px;
  }
}

.Title {
  color: black;
  margin: 0 auto;
  font-weight: 600;
  font-size: 30px;
}
@media (max-width: 450px) {
  .Title {
    font-size: clamp(18px, 1.6vw, 30px);
  }
}

.Description {
  max-width: 469px;
  color: rgba(0, 0, 0, 0.55);
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto;
  line-height: 110%;
  text-align: center;
}
@media (max-width: 450px) {
  .Description {
    font-size: clamp(17px, 1.4vw, 30px);
  }
}

.Stack {
  width: 100%;
  display: grid;
  grid-template-columns: 346px auto auto;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

@media (max-width: 450px) {
  .Stack {
    display: none;
  }
}

@media only screen and (min-width: 450px) {
  .mobileOnly {
    display: none !important;
  }
}

.ToggleWrapper {
  padding: 10px;
  position: relative;
  background-color: rgba(245, 245, 245, 0.8);
  box-shadow: rgba(0, 0, 0, 0.004) 0px 0.783403px 0.783403px 0px,
    rgba(0, 0, 0, 0.01) 0px 1.92107px 1.92107px 0px,
    rgba(0, 0, 0, 0.024) 0px 3.63429px 3.63429px 0px,
    rgba(0, 0, 0, 0.04) 0px 6.35486px 6.35486px 0px,
    rgba(0, 0, 0, 0.07) 0px 11.0474px 11.0474px 0px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  max-width: 450px;
  width: 100%;
  height: 61px;
}
.glider {
  position: absolute;
  margin-left: 10px;
  background: #ea2d49;
  width: calc((100% / 2) - 10px);
  height: 41px;
  border-radius: 10px;
  transition: 0.25s ease-out;
}

.glider0 {
  transform: translateX(0%);
}

.glider1 {
  transform: translateX(100%);
}

.ToggleButton {
  max-width: 173px;
  height: 41px;
  border-radius: 50px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 3px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.SVGPicture {
  width: 24px;
  height: auto;
}

.SVGCube {
  width: 24px;
  height: auto;
}

.strokeWhite {
  stroke: white;
}

.strokeGrey {
  stroke: #ea2d49;
}

.glidertextRed {
  color: #ea2d49;
  font-weight: 250;
  font-size: 19px;
}

.glidertextWhite {
  color: white;
  font-weight: 250;
  font-size: 19px;
}

@media (max-width: 350px) {
  .glidertextRed {
    font-size: 15px;
  }
  .glidertextWhite {
    font-size: 15px;
  }
  .SVGPicture {
    width: 20px;
    height: auto;
  }

  .SVGCube {
    width: 20px;
    height: auto;
  }
}

.BoxWrapper {
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 19px;
  width: 100%;
  min-height: 515px;
  margin: 40px 0px;
  display: grid;
}

@media (max-width: 450px) {
  .BoxWrapper {
    min-height: 83px;
  }
}

.AddedImages {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ImagesContainer {
  position: relative;
  float: left;
}

.ImageBorder {
  padding: 3px !important;
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  margin: 20px 0 0 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;
}

.ImageBorder::before {
  content: "";
  background-image: conic-gradient(#da2742 20deg, transparent 120deg);
  width: 150%;
  height: 250%;
  position: absolute;
  animation: 2s linear infinite;
  border-radius: 15px;
  animation: rotate 8s linear infinite;
}

.ImageBorder::after {
  content: "";
  position: absolute;
  inset: 3px;
  border-radius: 15px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.Image {
  border-radius: 13px;
  height: 250px;
  width: auto;
  z-index: 1;
}

.WrapperSVGbuttons {
  position: absolute;
  top: 30px;
  left: 100%;
  margin-left: -40px;
  display: grid;
  grid-template-rows: repeat(2, 21px);
  gap: 15px;
}

.CrossButton {
  z-index: 1;
  width: 30px;
  height: 30px;
  background: rgba(245, 245, 245);
  border-radius: 50px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
  display: grid;
  justify-content: center;
  align-content: center;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.CrossButton:hover {
  transform: rotate(-88deg);
}

.CompareButton {
  z-index: 1;
  width: 30px;
  height: 30px;
  background: rgba(245, 245, 245);
  border-radius: 50px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
  display: grid;
  justify-content: center;
  align-content: center;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.CompareButton:hover {
  transform: scale(1.1);
}

@media (max-width: 450px) {
  .AddedImages {
    max-width: 1018px;
    display: grid;
    padding: 10px;
  }
  .Image {
    height: auto;
    width: 100%;
  }
  .ImageBorder {
    margin: 0px;
    margin-top: 10px !important;
  }
  .WrapperSVGbuttons {
    top: 20px;
  }
}

.SVGCross {
  fill: #868686;
  width: 21px;
  height: 21px;
  transform: rotate(-44deg);
}

.AddImagesMobile {
  width: 151px;
  height: 38px;
  background: #ea2d49;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 5px;
  margin: 40px auto;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.AddImagesMobile:hover {
  box-shadow: rgba(234, 45, 73, 0.004) 0px 0.783403px 0.783403px 0px,
    rgba(234, 45, 73, 0.01) 0px 1.92107px 1.92107px 0px,
    rgba(234, 45, 73, 0.024) 0px 3.63429px 3.63429px 0px,
    rgba(234, 45, 73, 0.04) 0px 6.35486px 6.35486px 0px,
    rgba(234, 45, 73, 0.07) 0px 11.0474px 11.0474px 0px,
    rgba(234, 45, 73, 0.125) 0px 5.249729px 5.249729px 0px,
    rgba(234, 45, 73, 0.2) 0px 10px 10px 0px;
}
@media only screen and (min-width: 450px) {
  .AddImagesMobile {
    display: none;
  }
}

.SVGPlusImgMobile {
  fill: white;
  width: 17px;
}

.AddImages {
  width: 250px;
  height: 250px;
  border: 2px dashed #868686;
  border-radius: 19px;
  margin: 20px 0 0 20px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-content: center;
}
@media (max-width: 450px) {
  .AddImages {
    display: none;
  }
}

.AddImages:hover {
  border: 2px dashed #6c6b6b;
}

.inputImage {
  display: none;
}

.PlusImg {
  margin: 0 auto;
  margin-bottom: 5px !important;
  margin: 0 auto;
}

.SVGPlusImg {
  fill: #868686;
  width: 50px;
}

.AddImages:hover .SVGPlusImg {
  fill: #6c6b6b;
}

.BigText {
  text-align: center;
  color: #868686;
  font-size: 30px;
  font-weight: bold;
}

.AddImages:hover .BigText {
  color: #6c6b6b;
}

.SmallText {
  text-align: center;
  color: #868686;
  font-weight: 400;
  font-size: 15px;
  margin-top: 5px !important;
}

.AddImages:hover .SmallText {
  color: #ea2d49;
}

.ButtonWrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
  justify-content: right;
  align-content: flex-end;
  padding: 30px 30px;
}

@media (max-width: 450px) {
  .ButtonWrapper {
    display: none;
  }
}
