.Wrapper {
  background-color: rgba(245, 245, 245, 0.8);
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 70px;
  max-width: 1018px;
  border-radius: 19px;
  padding: 40px 20px;
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-top: 80px !important;
  margin-bottom: 40px !important;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1018px) {
  .Wrapper {
    grid-template-columns: auto auto;
    gap: 30px;
  }
}
@media (max-width: 460px) {
  .Wrapper {
    grid-template-columns: auto;
    gap: 30px;
  }
}
.Description {
  text-align: justify;
  max-width: 100%;
}
