@import "./FontSizes.css";

.hidden {
  display: none !important;
}

.visible {
  display: block;
  animation: fade-in linear 0.5s 1 normal forwards !important;
}

.HeaderTag {
  position: sticky;
  top: 40px;
  z-index: 99;
}

.logo {
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
}

@media (max-width: 450px) {
  .HeaderTag {
    padding: 0px 15px;
    top: 25px;
  }
}
@media (max-width: 768px) {
  .HeaderTag {
    padding: 0px 15px;
  }
}

.Wrapper {
  margin: 0 auto;
  max-width: 48.75rem;
  height: 3.5rem;
  border-radius: 50px;
  background-color: rgba(245, 245, 245, 0.8);
  box-shadow: rgba(0, 0, 0, 0.004) 0px 0.783403px 0.783403px 0px,
    rgba(0, 0, 0, 0.01) 0px 1.92107px 1.92107px 0px,
    rgba(0, 0, 0, 0.024) 0px 3.63429px 3.63429px 0px,
    rgba(0, 0, 0, 0.04) 0px 6.35486px 6.35486px 0px,
    rgba(0, 0, 0, 0.07) 0px 11.0474px 11.0474px 0px;
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-content: center;
  padding: 0px 10px;
}

.ButtonWrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
}

@media (max-width: 450px) {
  .ButtonWrapper {
    display: none;
  }
}
@media (max-width: 768px) {
  .ButtonWrapper {
    display: none;
  }
}

.Hamburger {
  width: 30px;
  margin-right: 3px !important;
  margin: auto 0;
  margin-right: 6px !important;
  display: none;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 450px) {
  .Hamburger {
    display: block;
  }
}
@media (max-width: 768px) {
  .Hamburger {
    display: block;
  }
}

.Hamburger:hover {
  transform: scale(1.1);
}

.SVGUser {
  width: 38px;
  height: 38px;
  stroke: red !important;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.SVGUser:hover {
  transform: scale(1.1);
}

.userParent {
  display: block;
}

@media (max-width: 450px) {
  .userParent {
    display: none;
  }
}
@media (max-width: 768px) {
  .userParent {
    display: none;
  }
}
