@import "./FontSizes.css";

.HeaderTag {
  position: sticky;
  top: 40px;
  z-index: 99;

  @media (max-width: 450px) {
    padding: 0px 15px;
  }
  @media (max-width: 768px) {
    padding: 0px 15px;
  }
}

.Wrapper {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  margin: 0 auto;
  height: 30px;
  max-width: 48.75rem;
  height: 3.5rem;
  border-radius: 50px;
  background-color: rgba(245, 245, 245, 0.8);
  box-shadow: rgba(0, 0, 0, 0.004) 0px 0.783403px 0.783403px 0px,
    rgba(0, 0, 0, 0.01) 0px 1.92107px 1.92107px 0px,
    rgba(0, 0, 0, 0.024) 0px 3.63429px 3.63429px 0px,
    rgba(0, 0, 0, 0.04) 0px 6.35486px 6.35486px 0px,
    rgba(0, 0, 0, 0.07) 0px 11.0474px 11.0474px 0px;
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: 38px auto;
  justify-content: space-between;
  align-content: center;
  padding: 0px 10px;
}

.ButtonWrapper {
  display: grid;
  grid-template-columns: 145px 145px;
  gap: 12px;

  @media (max-width: 450px) {
    display: none;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.SimpleButton {
  margin-left: 60px;
  width: 145px;
  height: 41px;
  padding: 7px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.SimpleButton:hover {
  border: 1px solid rgba(0, 0, 0, 0.99);
}

.Button {
  width: 145px;
  height: 41px;
  padding: 7px;
  background: #ea2d49;
  border-radius: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Button:hover {
  background: #da2742;
}

.Hamburger {
  width: 30px;
  margin-right: 3px !important;
  margin: auto 0;
  display: none;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

  @media (max-width: 450px) {
    display: block;
  }
  @media (max-width: 768px) {
    display: block;
  }
}

.Hamburger:hover {
  transform: scale(1.1);
}

.SimpleName {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 250;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.SimpleButton:hover .SimpleName {
  color: rgba(0, 0, 0, 0.99);
}

.ButtonName {
  font-size: 20px;
  color: white;
  font-weight: 250;
}
